/.git/
/.idea/
/node_modules
/public/hot
/public/storage
/public/vendor
/VaahCms/Modules/Cms
/VaahCms/Themes/BtFourPointThree
/storage/framework/sessions
/storage/framework/views
/storage/framework/cache
/storage/*.key
/vendor
.env
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
package.lock
yarn.lock

*.log
